@import '../../sass/variables';
@import '../../sass/mixins';

.task {
  min-height: $task-height;
  border-top: 1px solid gray;
  background-color: $task-bgC;
  display: flex;
  flex-direction: column;
  &__content {
    font-weight: bold;
    font-size: $task-content-fontSize-mobile;
    padding: 15px 5px 5px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    flex-grow: 3;
    @include mq(smartphone-large) {
      font-size: $task-content-fontSize-mobileLarge;
    }
  }
  &__priority-mark {
    display: inline-block;
    color: red;
    margin-right: 7px;
  }
  &__date-info {
    font-size: $task-date-info-fontSize-mobile;
    font-style: italic;
    flex-grow: 2;
    padding-bottom: 30px;
    text-align: center;
    @include mq(smartphone-large) {
      font-size: $task-date-info-fontSize-mobileLarge;
    }
  }

  &__date {
    font-weight: bold;
    font-size: $task-date-fontSize-mobile;
    @include mq(smartphone-large) {
      font-size: $task-date-fontSize-mobileLarge;
    }
  }
  &__btn-container {
    position: relative;
    flex-grow: 2;
    padding-top: 15px;
  }
  &__btn-wrapper {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }
  &__btn {
    position: relative;
    height: $task-btn-height;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__edit {
    margin-right: 15px;
  }
}
