@import '../../sass/variables';
@import '../../sass/mixins';

.header {
  height: $header-height-mobile;
  background-color: $header-bgColor;
  position: fixed;
  width: 100%;
  @include mq(tablet-large) {
    position: relative;
  }
  &__title {
    padding-right: 15px;
    text-align: right;
    line-height: $header-height-mobile;
    font-size: $header-fontSize-mobile;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    @include mq(tablet-large) {
      position: absolute;
      left: 40%;
      top: $header-height-mobile;
      margin-top: 15px;
    }
  }
}
