$base-fontSize: 10px;
$app-max-width: 1024px;

// Header

$header-height-mobile: 60px;
$header-bgColor: lightblue;
$header-fontSize-mobile: 2rem;

//Navigation

$bars-fontSize-mobile: 2.8rem;
$nav-fontSize-mobile: 2.4rem;
$nav-width-tabletLarge: 820px;
$navHover-bgC-tabletLarge: rgb(144, 206, 226);

//Footer

$footer-height-mobile: 50px;
$footer-bgColor: #aaa;

//Form
$validation-message-error-fontSize: 1.5rem;
$validation-message-error-color: red;
$label-fontSize: 1.2rem;

//Todo container
$todo-title-bgColor: #ccc;
$todo-title-fontSize: 1.2rem;
$prorities-label-fontSize: 0.95rem;

//Task
$task-height: 120px;
$task-bgC: #efefef;
$task-content-fontSize-mobile: 1.25rem;
$task-content-fontSize-mobileLarge: 1.4rem;
$task-date-info-fontSize-mobile: 1.2rem;
$task-date-info-fontSize-mobileLarge: 1.3rem;
$task-date-fontSize-mobile: 1.3rem;
$task-date-fontSize-mobileLarge: 1.4rem;
$task-btn-height: 25px;
$weather-btn-hover-bgc: rgb(204, 233, 243);
$weather-btn-active-bgc: rgb(144, 206, 226);

//Weather
$weather-height: 140px;
$spinner-height: 70px;
$spinner-main-color: lightblue;
$spinner-second-color: gray;
$weather-height: 270px;
$weather-bgc: lightgrey;
$weather-fontSize: 1.4rem;
$weather-date-fontSize: 1.5rem;
$weather-error-fontSize: 1.5rem;
$weather-icon-height: 50px;

//ErrorPage
$errorPage-link-color: red;
$errorPage-fontSize: 2rem;

//Media
$breakpoints: (
  smartphone: (
    'min-width: 460px',
  ),
  smartphone-large: (
    'min-width: 640px',
  ),
  tablet: (
    'min-width: 768px',
  ),
  tablet-large: (
    'min-width: 1024px',
  ),
  desktop-small: (
    'min-width: 1280px',
  ),
  desktop-medium: (
    'min-width: 1600px',
  ),
  desktop-large: (
    'min-width: 1900px',
  ),
);
