$base-fontSize: 10px;

// Header

$header-height-mobile: 60px;
$header-bgColor: lightblue;
$header-fontSize-mobile: 1.4rem;

//Navigation

$bars-fontSize-mobile: 1.8rem;
$nav-fontSize-mobile: 1.4rem;

//Footer

$footer-height-mobile: 50px;
$footer-bgColor: #aaa;

//Form
$validation-message-error-fontSize: 1.1rem;
$validation-message-error-color: red;
