$base-fontSize: 10px;

// Header

$header-height-mobile: 60px;
$header-bgColor: lightblue;
$header-fontSize-mobile: 2rem;

//Navigation

$bars-fontSize-mobile: 2.8rem;
$nav-fontSize-mobile: 2.4rem;

//Footer

$footer-height-mobile: 50px;
$footer-bgColor: #aaa;

//Form
$validation-message-error-fontSize: 1.5rem;
$validation-message-error-color: red;

//Todo container
$todo-title-bgColor: #ccc;
$todo-title-fontSize: 1.15rem;

//Media
$breakpoints: (
  smartphone: (
    'min-width: 460px',
  ),
  smartphone-large: (
    'min-width: 640px',
  ),
  tablet: (
    'min-width: 800px',
  ),
  tablet-large: (
    'min-width: 1024px',
  ),
  desktop-small: (
    'min-width: 1280px',
  ),
  desktop-medium: (
    'min-width: 1600px',
  ),
  desktop-large: (
    'min-width: 1900px',
  ),
);
