@import '../../sass/variables';
@import '../../sass/mixins';

.main-form {
  text-align: center;
  margin-top: 70px;
  @include mq(tablet-large) {
    margin-top: 30px;
  }
  &__task-input {
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    width: 55%;
  }
  &__submit {
    height: 28.5px;
    width: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    &:active {
      background-color: black;
      color: white;
    }
  }
  &__validation-info {
    color: $validation-message-error-color;
    margin-top: 10px;
    font-size: $validation-message-error-fontSize;
  }
  &__date-label,
  &__priority-label {
    display: inline-block;
    margin-top: 15px;
  }
  &__date-label {
    text-transform: uppercase;
    font-size: $label-fontSize;
    font-style: italic;
  }
  &__priority-label {
    text-transform: uppercase;
    font-size: $label-fontSize;
    font-weight: bold;
  }
  &__priority {
    margin-left: 10px;
    vertical-align: bottom;
  }
  &__date {
    margin-left: 10px;
  }
}
