@import '../../sass/variables';

.todo-container {
  margin: 35px auto 30px;
  width: 85%;
  box-shadow: 0 0 7px 0 black;
  &__open-weather {
    margin: 15px 0;
    padding: 2px 4px;
    border: none;
    height: 30px;
    box-shadow: 0 0 4px 0 black;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: $weather-btn-hover-bgc;
    }
    &:active {
      background-color: $weather-btn-active-bgc;
      color: white;
    }
  }
  &__info {
    padding: 5px;
    background-color: $todo-title-bgColor;
    font-size: $todo-title-fontSize;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
  }
  &__prorities-label {
    display: block;
    font-size: $prorities-label-fontSize;
  }
  &__prorities-input {
    margin-left: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
  }
}
