.weather {
  position: relative;
  height: 200px;
  font-size: 1.4rem;
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    &:active {
      background-color: black;
      color: white;
    }
  }
  &__info-wrapper {
    padding-top: 35px;
    text-align: center;
  }
  &__date {
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
  }
  &__data-container {
    margin-top: 7px;
  }
  &__submit {
    display: inline-block;
    background-color: #fff;
    border: 1px solid black;
    // height: 20px;
    margin-left: 10px;
    padding: 2px 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
