@import '../../sass/variables';

.weather {
  position: relative;
  height: $weather-height;
  background-color: $weather-bgc;
  font-size: $weather-fontSize;
  &__data-provider {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    &-info {
      font-weight: bold;
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    width: 60px;
    height: 25px;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    &:active {
      background-color: black;
      color: white;
    }
  }
  &__info-wrapper {
    padding-top: 35px;
    text-align: center;
  }
  &__city {
    padding: 2px;
    border: 1px solid black;
  }
  &__date {
    font-size: $weather-date-fontSize;
    font-weight: bold;
    font-style: italic;
  }
  &__data-container {
    margin-top: 7px;
  }
  &__submit {
    margin-left: 10px;
    padding: 2px 5px;
    border: 1px solid black;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &__wrong-validation {
    margin-top: 10px;
    color: $validation-message-error-color;
    font-size: $validation-message-error-fontSize;
  }
}
