.weather {
  position: relative;
  height: 200px;
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    &:active {
      background-color: black;
      color: white;
    }
  }
}
