@import '../../sass/variables';

.main-navigation {
  height: calc(100vh - #{$header-height-mobile});
  position: absolute;
  top: 100%;
  left: -100%;
  background-color: black;
  width: 100vw;
  transition: 0.3s;
  &--active {
    left: -18%;
  }
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__element {
    text-align: right;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 15%;
    font-size: $nav-fontSize-mobile;
    color: white;
  }
}
