@import '../../sass/variables';
@import '../../sass/mixins';

.main-navigation {
  height: calc(100vh - #{$header-height-mobile});
  position: absolute;
  top: 100%;
  left: -100%;
  background-color: black;
  width: 100vw;
  @include mq(tablet-large) {
    height: $header-height-mobile;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    width: 820px;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    @include mq(tablet-large) {
      flex-direction: row;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0;
      line-height: $header-height-mobile;
      // color: black;
    }
  }
  &__element {
    text-align: right;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 15%;
    font-size: $nav-fontSize-mobile;
    color: white;
    &:hover {
      @include mq(tablet-large) {
        background-color: rgb(144, 206, 226);
      }
    }
    @include mq(tablet-large) {
      padding: 0 30px;
      height: 100%;
      color: black;
      cursor: pointer;
    }
  }
}
